.button-form {
  width: 125px;
  padding: 12px 16px;
  background-color: #877eed;
  color: #ffffff;
  font-family: "Monserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 150%;
  font-size: 16px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  gap: 10px;
}

.button-form:hover {
  background-color: #544acb;
}
