.button-form {
  width: 125px;
  padding: 12px 16px;
  background-image: linear-gradient(
    to top,
    rgb(1, 44, 24),
    rgba(0, 255, 76, 0.925)
  );
  color: #ffffff;
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 150%;
  font-size: 16px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  gap: 10px;
}

.button-form:hover {
  background-image: linear-gradient(to top, rgb(13, 56, 36), rgb(6, 194, 62));
}
