.fab {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 14px;
  background-image: linear-gradient(
    to top,
    rgb(1, 44, 24),
    rgba(0, 255, 76, 0.925)
  );
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab:hover {
  background-image: linear-gradient(
    to top,
    rgb(13, 56, 36),
    rgb(6, 194, 62)
  );;
}
