.subheading {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: rgb(0, 175, 58);
    border-bottom: 2px dotted #7eed9a;
    padding-bottom: 8px;
    margin: 0;
    margin-bottom: 24px;
}