::backdrop {
  background-color: #000000;
  opacity: 0.75;
}
.modal {
  background-color: #1e1e1e;
  border-radius: 16px;
  border: none;
  padding: 16px;
}

.btn-close-wrapper {
  text-align: right;
}
.btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal .body {
  padding: 10px 0;
}
